<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<aop:aspectj-autoproxy proxy-target-class="false" />

	<bean class="com.share.lifetime.aop.aspect.LogAspect" />

	<context:component-scan
		base-package="com.share.lifetime.controller" />

	<mvc:resources mapping="/static/js/**" location="/js/" />
	<mvc:resources mapping="/static/css/**" location="/css/" />
	<mvc:resources mapping="/static/lib/**" location="/lib/" />
	<mvc:resources mapping="/static/image/**"
		location="/image/" />
	<mvc:resources location="classpath:/META-INF/resources/"
		mapping="swagger-ui.html"></mvc:resources>
	<mvc:resources
		location="classpath:/META-INF/resources/webjars/"
		mapping="/webjars/**"></mvc:resources>


	<mvc:annotation-driven validator="validator">
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*" />
			<ref bean="loggerInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<bean id="loggerInterceptor"
		class="com.share.lifetime.interceptor.LoggerInterceptor" />
	<bean id="performanceMonitorInterceptor"
		class="com.share.lifetime.interceptor.PerformanceMonitorInterceptor" />

	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass"
			value="org.hibernate.validator.HibernateValidator"></property>
	</bean>
	<bean
		class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"></bean>

	<aop:config>
		<aop:pointcut
			expression="execution(* com.share.lifetime.controller.*.*(..))"
			id="controller" />
		<aop:advisor advice-ref="performanceMonitorInterceptor"
			pointcut-ref="controller" />
	</aop:config>
</beans>
